@font-face {
    font-family: 'GilroyBold';
    src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: 'GilroySemibold';
    src: url(./fonts/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: 'GilroyMedium';
    src: url(./fonts/Gilroy-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
}
.main__content{
    max-width: 1920px;
    background-color: #fff;
    font-family: 'GilroyBold';
}
.logo__img{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400px;
}
.img{
    width: 35px;
    height: 40px;
}
.be{
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.menu{
    padding-left: 375px;
    display: flex;
    padding-top: 40px;
    gap: 500px;
    align-items: center;
}
.menu_text{
    display: flex;
    justify-content: space-evenly;
    width: 533px;
    height: 17px;
}
.menu__left{
    text-decoration: none;
    color: #000;
    font-family: GilroyMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.menu__left--color{
    text-decoration: none;
    color: #F25822;
    font-family: GilroySemibold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.main__info{
    padding-left: 375px;
    padding-top: 89px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 41px;
}
.main__info__head{
    width: 522px;
    height: 222px;
    flex-shrink: 0;
    color: #000;
    font-family: GilroyBold;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main__info__text{
    width: 466px;
    height: 48px;  
    padding-top: 17px;
    color: #888;
    font-family: GilroyMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.main__button__start{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: GilroyBold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.main__button{
    display: flex;
    gap: 72px;
    align-items: center;
    padding-top: 37px;
    color: #AAA;
    font-family: GilroyBold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.main__img{
    width: 544.814px;
    height: 374.843px;
}
.footer__img{
    display: flex;
    gap: 47px;
    padding-top: 97px;
    padding-left: 375px;
    width: 1920px;
    height: 243px;
}
.footer__img__logo{
    
    width: 160px;
    height: 50px;
}
